---
layout: compress
---
<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/body.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/card.css"/>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/pattern.css"/>
    </head>
    <body class="demo-1">
        <div class="container">
            <header class="codrops-header">
                <h1>Vivian Zhao <span>Chinese Calligraphy Hobbyist</span></h1>
            </header>
            <div class="content">
                <!-- trianglify pattern container -->
                <div class="pattern pattern--hidden"></div>
                <!-- cards -->
                <div class="wrapper">
                    {% for post in paginator.posts %}
                        <div class="card" data-id="{{ post.id }}">
                            <div class="card__container card__container--closed">
                                <div class="card__image">
                                    <img src="{{ site.baseurl }}/{{ post.image }}"></img>
                                </div>
                                <div class="card__content">
                                    <i class="card__btn-close fa fa-times"></i>
                                    <div class="card__caption">
                                        <h2 class="card__title">{{ post.title }}</h2>
                                        <p class="card__subtitle">{{ post.subtitle }}</p>
                                    </div>
                                    <div class="card__copy">
                                        <div class="meta">
                                            <img class="meta__avatar" src="{{ site.baseurl }}/assets/img/vivian.png"/>
                                            <span class="meta__author">Vivian Zhao</span>
                                            <span class="meta__date">{{ post.date | date: "%Y-%m-%d" }}</span>
                                        </div>
                                        {{ post.content }}
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /card -->
                    {% endfor %}
                    {% if paginator.previous_page or paginator.next_page %}
                        {% include pagination.html %}
                    {% endif %}
                </div> <!-- /wrapper -->
            </div> <!-- /content -->
        </div> <!-- /container -->

        <!-- JS -->
        <script src="{{ site.baseurl }}/assets/js/vendors/trianglify.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendors/TweenMax.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendors/ScrollToPlugin.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/vendors/cash.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/Card-circle.js"></script>
        <script src="{{ site.baseurl }}/assets/js/modern-blog.js"></script>
    </body>
</html>
